{
	"semi": false,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 135,
	"plugins": ["prettier-plugin-svelte","prettier-plugin-tailwindcss"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
